@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body{
    background-color:hsl(185, 75%, 39%);
   
   /* height:100vh;
    width:100vw;*/
    overflow:hidden;
  /* background-attachment: fixed;*/
   background-repeat: no-repeat;
   font-family: 'Kumbh Sans', sans-serif;
    
}
.firstImg{
    position:absolute;
    right: 49%;
bottom: 25%;
}
.lastImg{
    position:absolute;
    top: 60%;
    left: 50%;
}
.card{
    width:350px;
    height:374px;
   
    position:absolute;
    border-radius:1rem;
    bottom: 14%;
right: 35%;
    
}
.coverpht{
    width:100%;
    height:140px;
    position:relative;
    
    
}
.desc{
    width:100%;
    height:234px;
  
}
.profPic{
    border-radius: 50%;
    border:5px solid white;
    position:absolute;
    top:87px;
    left:121px;
    
}
.coverpht img{
    width:100%;
    height:140px;

    border-radius: 1rem 1rem 0 0;
}
.name{
width:100%;
height:144px;
background-color: white;

border-bottom:1px solid rgb(237, 235, 235); 
}
.firstname{
    
    position:relative;
    top:76px;
    font-weight: 700;
    font-size:18px;
    left:108px;
    color:rgb(53, 53, 53);
    
}
.age{
margin-left:9px;
font-weight: 400;
font-size:18px;
color:rgb(121, 121, 121);
}
.city{
    font-weight:400;
    position:relative;
    font-size:14px;
    top:8px;
    left:40px;
    color:rgb(121, 121, 121);

}
.social{
    display:flex;
    justify-content:center;
    width:90%;
    height:89px;
    
    align-items:center ;
    
}
.social>div{
    font-size: 18px;;
    font-weight:700;
    color:black;
    text-align:center;
    margin:5px 0 0 0;
    width:54px;
    color:rgb(53, 53, 53);
}

.social>div:nth-child(2){
    margin: 5px 47px 0 43px;
}
.smalldesc{
    font-family: inherit;
    font-weight:400;
    font-size:10px;
    letter-spacing: 1px;
    color:rgb(121, 121, 121);
}
.socialwrap{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0 0 1rem 1rem;
  

}
@media screen and (max-width:450px){
    .card{
        right:0;
        left:13%;
    }

}